


.detailsContainer {
    height: 100%;
    width: 89%;
    padding: 4rem 0;
}

.detailsContainer h4 {
    font-size: .6rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--Dark-grayish-blue);
}

.detailsContainer h1 {
    font-size: 1.9rem;
    font-weight: 900;
    color: var(--Very-dark-blue);
    margin: 0.5rem 0 1.5rem 0;
}

.detailsContainer p {
    font-size: .8rem;
    color: var(--Dark-grayish-blue);
    margin: 1rem 0;
}

.priceContainer {
    height: 4rem;
    width: 7.5rem;
    position: relative;
}

.priceContainer h2{
    font-size: 1.3rem;
    font-weight: 900;
    color: var(--Very-dark-blue);
}

.priceContainer h5 {
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
    margin: 0.6rem 0;
    font-weight: 900;
}

.priceContainer span {
    height: 1.2rem;
    text-align: center;
    font-size: .8rem;
    padding: .1rem .4rem;
    border-radius: .2rem;
    color: var(--Light-grayish-blue);
    background-color: var(--Very-dark-blue);
    position: absolute;
    top: .2rem;
    right: 0;
}

.detailsActions {
    height: 3rem;
    margin: 2rem 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}



.quantityContainer {
    width: 8rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Light-grayish-blue);
    border-radius: .3rem;
}

.quantityContainer button {
    height: 100%;
    width: 3rem;
    background: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantityContainer button:active {
    transform: scale(.8);
}


.submitButton{
    height: 100%;
    width: 62%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: var(--Orange);
    border-radius: .6rem;
}
.submitButton:hover{
    background-color: var(--Pale-orange);
}

.submitButton h2 {
    font-size: 1rem;
    font-weight: 900;
    color: var(--Very-dark-blue);
}

.submitButton img {
    color: var(--Very-dark-blue);
    
}
.submitButton svg {
    margin: 0 .6rem;
    transform: scale(.8);
}
.submitButton path {
    fill: var(--Very-dark-blue);
}

@media screen and (max-width: 720px) {
    .detailsContainer {
        height: 100%;
        width: 90%;
        
    }
    .detailsContainer h1 {
        font-size: 1.2rem;
    }
    .detailsContainer p {
        font-size: .6rem;
    }
    .submitButton h2 {
        font-size: .6rem;
    }
}

@media screen and (max-width: 500px) {
    .detailsContainer {
        height: fit-content;
        width: 100%;
        padding:  1.5rem;
    }
    .detailsContainer p {
        line-height: 2;
    }
    .priceContainer {
        height: 4rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .priceContainer span {
        top: 1.4rem;
        right: 65%;
    }
    .detailsActions {
        min-height: 8rem;
        margin: 1rem 0;
        width: 100%;
        flex-direction: column;        
    
    }
    .quantityContainer {
        width: 100%;
        height: 7rem;
        border-radius: .6rem;
    }
    .submitButton{
        height: 5rem;
        width: 100%;
        margin: 1rem 0;
    }
}

